
@{
    ViewBag.Title = "Sales Info";
    Layout = "~/Views/Shared/_Orders.cshtml";
}

<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpTvG15DL1IkRd8S0KlBVNTI&key=AIzaSyChtflI6Haf7ciJBWGjcYERRLN0JDwZ9l4" allowfullscreen></iframe>

<p style="margin-top:20px">The physical location of our headquarters and shop is Toronto, ON, Canada. But we can deliver books almost anywhere — and with free shipping!</p>