@{
    ViewBag.Title = "Sign In";
}

<div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
        <form action="~/Account/SignIn" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <input name="UserName" type="text" placeholder="Username" class="first-field">
            <input name="Password" type="password" placeholder="Password" class="last-field">
            <button class="btn btn-info btn-block do-submit" type="submit">Login</button>
        </form>
    </div>
</div>

<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../Content/markup/bg2.jpg) no-repeat center top;
    }
</style>